<footer class="text-lg-start">
  <!-- Copyright -->
  <div class="p-3 footer" >
    <div class="links">
      <a>Taskify 2021</a>
      <a>Contact</a>
      <a>About</a>
    </div>
    <div class="my-links">
      <a href="https://github.com/Elwafi-Elmehdi"><i style="font-size: large" class="fa fa-github"></i></a>
      <a href="https://www.linkedin.com/in/elmehdi-elwafi-079068205/"><i  style="font-size: large" class="fa fa-linkedin"></i> </a>
      <a href="mail:elwafi.courrier99@gmail.com"><i style="font-size: large" class="fa fa-envelope-o"></i></a></div>
  </div>
</footer>
