footer {
  position: absolute;
  bottom: 0px;
  width: 100%;

}

.footer,
.footer > a{
  background-color: #212529;
  color: #ffffff;
}

.links {
  display: inline;

}
.links > * {
  margin: 0 10px;
}
