<div class="container">
  <div class="card" >
    <div class="card-body">
      <h5 class="card-title">Create New Task</h5>
      <!--Label string-->
      <input class="form-control form-control-lg" type="text" placeholder="Label"
             aria-label=".form-control-lg example">
      <!--Desc string-->
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Desc...</label>
        <textarea [(ngModel)]="task.desc" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <!--completed boolean-->
      <label>Completed</label><br>
      <input [(ngModel)]="task.completed" type="checkbox" id="yes" name="vehicle1" value="true">
      <input [(ngModel)]="task.completed" type="checkbox" id="No" name="vehicle1" value="false">
      <button (click)="createTask(task)" class="btn btn-primary">Save</button>
    </div>
  </div>
</div>
