<div class="container">
  <div class="card" >
    <div class="card-header">New Task?</div>
    <div class="card-body">
      <!--Label string-->
      <label for="">Label</label>
      <input [(ngModel)]="task.label" class="form-control form-control-lg" type="text"
             aria-label=".form-control-lg example">
      <!--Desc string-->
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Description</label>
        <textarea [(ngModel)]="task.desc" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <!--completed boolean-->
      <input type="radio" name="food" [(ngModel)]="task.completed" [value]="true"><span>Completed</span>
      <input type="radio" name="food" [(ngModel)]="task.completed" [value]="false"><span>Waiting</span>
      <div class="card-footer">
        <button (click)="createTask(task)" class="btn btn-primary btn-block">Save</button>
      </div>
    </div>
  </div>
</div>
