<div class="container">
  <div class="card" >
    <div class="card-body">
      <h5 class="card-title">Create New Task</h5>
      <!--Label string-->
      <input class="form-control form-control-lg" type="text" placeholder="Label"
             aria-label=".form-control-lg example">
      <!--Desc string-->
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Desc...</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <!--completed boolean-->
      <label>Completed</label><br>
      <input type="checkbox" id="yes" name="vehicle1" value="yes">
      <input type="checkbox" id="No" name="vehicle1" value="no">
    </div>
  </div>
</div>
