<div class="card container-fluid">
  <h5 class="card-header">Task</h5>
  <div class="card-body">
    <div class="container">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">completed</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td><button><i class="fas fa-trash-alt"></i></button></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
          <td><button><i class="fas fa-trash-alt"></i></button></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td colspan="2">Larry the Bird</td>
          <td>@twitter</td>
          <td><button><i class="fas fa-trash-alt"></i></button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


