<navbar></navbar>
<div class="row" style="margin: 20px auto">
  <div class="card container col-md-8">
    <div class="card-body ">
      <div class="container">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">Label</th>
            <th scope="col">Description</th>
            <th scope="col">State</th>
            <th scope="col">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let task of tasks;index as i">
            <td>{{task.label}}</td>
            <td>{{task.desc}}</td>
            <td>{{task.completed === true ? "Completed" : "Waiting"}}</td>
            <td>
              <button class="btn btn-sm btn-danger" (click)="delete(i)">
                <i class="fa fa-trash"></i>
              </button>
              <button class="btn btn-sm btn-secondary" (click)="edit(i)">
                <i class="fa fa-pencil-square"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <app-task-creat class="col-md-4" ></app-task-creat>
</div>
<app-footer></app-footer>






